*{
    margin:0;box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(18, 175, 232);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}
main {
    margin-top: 60px; /* Assure que le contenu ne soit pas caché derrière l'en-tête */
}

.left{
    width: 50%;
    
}

.right{
    width:50%;
    padding-top:1%;
   
}
.nav{
    display:inline; text-decoration: none;
    color: azure;
    font-size: 19px;
    font-family: forte;
}
li{
    
    display:inline;
    margin-right:15%;
}
ul{
    display: flex;
}
img{
    width: 30%;
    height: 80%;
}
